In [24]:
import pandas as pd

In [25]:
data5=pd.read_csv("Project-assignmenttable5.6.csv")
data5

                  country
0             Afghanistan
1                 Algeria
2          American Samoa
3                  Angola
4                Anguilla
..                    ...
104               Vietnam
105  Virgin Islands, U.S.
106                 Yemen
107            Yugoslavia
108                Zambia

[109 rows x 1 columns]

In [26]:
data5_1=pd.read_csv("Countries-Continents.csv")
data5_1

        continent              country
0   North America  Antigua and Barbuda
1   North America              Bahamas
2   North America             Barbados
3   North America               Canada
4   North America           Costa Rica
5   North America                 Cuba
6   North America             Dominica
7   North America   Dominican Republic
8   North America          El Salvador
9   North America              Grenada
10  North America            Guatemala
11  North America                Haiti
12  North America             Honduras
13  North America              Jamaica
14  North America               Mexico
15  North America            Nicaragua
16  North America               Panama
17  North America  Trinidad and Tobago
18  North America                   US
19        Oceania            Australia
20        Oceania                 Fiji
21        Oceania             Kiribati
22        Oceania     Marshall Islands
23        Oceania           Micronesia
24        Oceania                Nauru
25        Oceania          New Zealand
26        Oceania                Palau
27        Oceania     Papua New Guinea
28        Oceania                Samoa
29        Oceania      Solomon Islands
30        Oceania                Tonga
31        Oceania               Tuvalu
32        Oceania              Vanuatu
33  South America            Argentina
34  South America              Bolivia
35  South America               Brazil
36  South America                Chile
37  South America             Colombia
38  South America              Ecuador
39  South America               Guyana
40  South America             Paraguay
41  South America                 Peru
42  South America             Suriname
43  South America              Uruguay
44  South America            Venezuela

In [27]:
merged_data = pd.merge(data5, data5_1, on='country', how='left')

In [28]:
print(merged_data.sort_values(by='continent', ascending=False)[['country', 'continent']])

                  country      continent
5               Argentina  South America
21                  Chile  South America
73                   Peru  South America
72               Paraguay  South America
23               Colombia  South America
..                    ...            ...
104               Vietnam            NaN
105  Virgin Islands, U.S.            NaN
106                 Yemen            NaN
107            Yugoslavia            NaN
108                Zambia            NaN

[109 rows x 2 columns]